*{
    text-align: center;
    position: relative;
    top: 50px;
}
body{
    background-color:  /* 원하는 배경색 */
}
.date{
    font-size:  /* 원하는 폰트 사이즈 */
    color: /* 날짜가 표기되는 텍스트 색상 */
}
.time{
    font-size:  /* 원하는 폰트 사이즈 */
    font-weight: bold;
    color:  /* 시간이 표기되는 텍스트 색상 */
}

